body {
  font-family:'Cormorant Garamond', serif;
  color:#333333;
}
#sidebar {
  position:absolute;
  left:0;
  margin-left:1em;
  padding: 3.5%;
  text-align:left;
  top:19.5em;
}

.fixed_sidebar {
  position:fixed!important;
  top: 2em!important;
}

.fixed_bod {
  padding-top: 3.8em;
}

/* #bod .fixed_bod {
  padding-top: 10em;
} */

a {
  color:inherit;
  text-decoration:none;
}

.main {
  position:fixed;
}

#sidebar a {
  font-size:1.3em;
  font-weight:400;
  margin-top:1em;
  transition-duration:400ms;
  display:block;
}

.line {
  width:0;
  background:#708090;
  position:absolute;
  margin-top:.6em;
  height:1px;
  /*height:.9em;
  margin-top:.15em;*/
  transition-duration:400ms;
}

#sidebar a:hover {
  padding-left:15px;
  color:#000;
}

#sidebar a:hover .line {
  width:10px;
  margin-left:-15px;
}

#caleb {
  /* position:fixed; */
  margin-left:5%;
  margin-top:1em;
  background:#fff;
}

#caleb a {
  font-size:4em;
  font-family:'Cormorant Garamond', serif;
  color:#000000;
  margin-top:0;
}

#text {
  width:45%;
  margin-top:3.5%;
  margin-right:10%;
  margin-left:20%;
  background:#fff;
  z-index:9;
  font-size:1.1em;
}
#prof {
  width:15%;
  float:right;
  margin-right:13%;
  margin-top:3.5%;
}

#text i {
  font-weight:normal;
}

h2 {
  margin-bottom:.1em;
  font-size:1.25em;
}

p {
  margin-bottom:2em;
}

h1 {
  margin-top:1em;
  margin-bottom:-.3em;
}
#exp_text {
  width:55%;
  margin-top:3%;
  margin-right:10%;
  margin-left:20%;
  background:#fff;
  z-index:9;
  padding-bottom:7em;
  font-size:1.1em;

}

#exp_text h2 {
  font-size:1.2em;
}
#bin {
  display: flex;
  padding-bottom: 2.5em;
}
#contact {
  width:45%;
  margin-top:3.5%;
  margin-left:20%;
  background:#fff;
  z-index:9;
  padding-bottom:7em;
  font-size:1.1em;
}

#contact a {
  text-decoration:underline;
}

#twitter {
  margin-right:10%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3.5%;
}

.portfolio {
  width:85%;
  margin-top:3.5%;
  margin-left:18%;
  padding-bottom:1em;
}

.block2 {
  margin-top:2em;
  margin-bottom:2em;
  width: 80%;
}

.portfolio h1 {
  display:block;
  margin-left:3%;
  font-size:2.2em;
}

.elem {
  margin-top:1.5em;
  width:40%;
  margin-bottom:2em;
  margin-left:3%;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  box-sizing: border-box;
  flex: 1;

}

.headline {
  font-size:1.3em;
  font-weight:bold;
}

.date {
  display:inline;
  font-weight:normal;
}

#topbar {
  background-image: url("IMG_6392.jpeg");
  width: 105%;
  height: 15em;
  top:0%;
  display:block;
  background-repeat:no-repeat;
  background-size:cover;
  margin-left:-1%;
  margin-top:-10px;
}

.title {
  margin-top:20em;
}

.fixed_header {
  position:fixed;
  padding-top: 1em;
  width:100%;
  top:-1em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

body {
  overflow-x:hidden;
}
